.home_container{
    background: #111727;
}

.home_container .time{
    color: white;
    font-size: 25px;
    background-color: #009bfe;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.home_container .score{
    color: #009bfe;
    font-size: 35px;
}

.body_area{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body_area .game_area {
  width: 500px;
}

.body_area .game_area .question {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .body_area .game_area .input_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .body_area .game_area .input_boxes input {
    width: 100%;
    height: 70px;
    border: none;
    font-size: 40px;
    outline: none;
    text-align: center;
  }

  .key_board {
    margin-top: 5rem;
  }

  .key_board input {
    width: 45px;
    height: 60px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);    
    background-color: #f3f1ef;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-bottom: 4px solid #a59c94;
    transition: 0.3s ease all;
  }

.key_board input:hover {
  transform: scale(1.05);
}

  .line{
      display: flex;
      align-items: center;
      margin-top: 10px;
      justify-content: center;
  }

.line > * + * {
  margin-left: 5px;
}

  @media screen and (max-width: 515px) {
    .home_container .score {
      font-size: 20px;
    }
    header a > img {
      width: 50px;
    }
    .home_container .time {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
    header {
      height: 100px;
    }
    .body_area .game_area .question {
      font-size: 20px;
      margin-bottom: 2rem;
    }
    .body_area .game_area .input_boxes {
      padding: 0rem 2rem;
    }
    .body_area .game_area .input_boxes input {
      font-size: 20px;
      height: 50px;
    }
    .key_board {
      margin-top: 3rem;
    }
    .key_board input {
      font-size: 14px;
      height: 40px;
      width: 40px;
    }
  }

  @media screen and (max-widht: 450px) {
    .key_board input {
      font-size: 10px;
      height: 50px;
      width: 30px;
    }
  }

  @media screen and (max-width: 350px) {
    .key_board input {
      font-size: 10px;
      height: 30px;
      width: 20px;
    }
  }


