@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul, nav {
  list-style: none;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: none !important;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end !important;
  }

.common_width {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.home_container {
    height: 100vh;
    width: 100%;
    background: url("../img/bg_home.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute !important;
    left: 50% !important;
    height: 130px;
    transform: translateX(-50%);
  }
  
  
  .navbar-brand {
    height: unset !important;
  }

  .navbar a > img {
    width: 120px;
  }
  .navbar a {
    color: #fff;
  }
  .navbar .navbar-nav > * + * {
    margin-left: 3rem;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    height: 130px;
    transform: translateX(-50%);
}

header nav {
    display: flex;
    align-items: center;
  }

header a > img {
    width: 120px;
}

header a {
    color: #fff;
}

header nav > * + * {
    margin-left: 3rem;
  }

.content_area {
    color: #fff;
}

.content_area .row {
    align-items: center;
    padding-top: 80px;
    height: 100vh;
  }

.content_area img {
    width: 100%;
}

 .content_area h1 {
    font-size: 90px;
    font-weight: 300;
}
.content_area p {
    margin-top: 1rem;
    font-size: 25px;
    color: #ffe4ff;
  }
  .content_area .buttons_Wrapper {
    margin-top: 3rem;
  }
  .content_area .buttons_Wrapper > * + * {
    margin-top: 1rem;
  }

  .content_area a {
    height: 55px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 99px;
    color: #ffe4ff;
    font-weight: 600;
    border: 2px solid #ffe4ff;
    transition: 0.3s ease all;
}

.content_area a:hover {
    background-color: #ffe4ff;
    color: #333;
  }


  @media screen and (max-width: 990px) {
    .navbar .navbar-nav > * + * {
      margin-left: 0px;
      margin-top: 1rem;
    }
    .navbar-collapse {
      display: block;
    }
    .navbar-light .navbar-toggler {
      border-color: #fff !important;
    }
  }

  @media screen and (max-width: 991px) {
    .content_area {
      text-align: center;
    }
    .content_area .presentation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content_area .row > *:nth-child(2) {
      display: none;
    }
  }

@media screen and (max-width: 530px) {

    .navbar a > img {
        width: 50px;
      }
      header nav > * + * {
        margin-left: 1rem;
      }

    header {
        height: 100px;
      }
      .content_area h1 {
        font-size: 50px;
      }
      .content_area p {
        font-size: 20px;
      }
      .content_area a {
        font-size: 14px;
        height: 45px;
        width: 150px;
      }
}

@media screen and (max-width: 350px) {
    header a {
      font-size: 12px;
    }
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
  }
  

