<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/how_to_play.css') }}">
</head>
<body>
    <section class="home_container">
    <header class="common_width">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='img/logo_2.png') }}" alt="" />
        </a>
        </header>
    <div class="title">
    <h1>How To Play?</h1>
    </div>
    
    <div class="main_part">
        <p>There will be 25 questions related to the web development concept. Once the questions show up, you will have 60 seconds to answer. To submit the answer, press ok. For each right answer, the player will get one point. The wrong answer will force the game to be over.
        <br>
        <br>
        For putting the answer, the player just needs to click the qwerty pad with right answer and the answer will be plugged in. If the player puts a wrong answer by mistake, he/she can delete the answer and plug in the correct one. Make sure you do not press ok until you are sure with your answer.
        </p>
    </div>
</section>
    
</body>
</html>