<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}" />
    <title>Play Game</title>
  </head>
  <body>
    <section class="home_container">
        <nav class="navbar navbar-expand-lg navbar-light common_width">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo_2.png') }}" alt=""
          /></a>
  
          <p class="time">59</p>
          <p class="score">Score <span></span></p>
        </nav>
  
        <section class="body_area">
          <div class="game_area">
            <h1 class="question">What is the name of ....?</h1>
            <div class="input_boxes"></div>
  
            <div class="key_board">
              <div class="line">
                <input type="text" value="q" readonly />
                <input type="text" value="w" readonly />
                <input type="text" value="e" readonly />
                <input type="text" value="r" readonly />
                <input type="text" value="t" readonly />
                <input type="text" value="y" readonly />
                <input type="text" value="u" readonly />
                <input type="text" value="i" readonly />
                <input type="text" value="o" readonly />
                <input type="text" value="p" readonly />
              </div>
              <div class="line">
                <input type="text" value="a" readonly />
                <input type="text" value="s" readonly />
                <input type="text" value="d" readonly />
                <input type="text" value="f" readonly />
                <input type="text" value="g" readonly />
                <input type="text" value="h" readonly />
                <input type="text" value="j" readonly />
                <input type="text" value="k" readonly />
                <input type="text" value="l" readonly />
              </div>
              <div class="line">
                <input type="text" value="z" readonly />
  
                <input type="text" value="x" readonly />
                <input type="text" value="c" readonly />
                <input type="text" value="v" readonly />
                <input type="text" value="b" readonly />
                <input type="text" value="n" readonly />
                <input type="text" value="m" readonly />
                <input type="text" value="ok" readonly />
                <input type="text" value="<" readonly />
              </div>
              <div class="line">
                <input type="text" value="=" readonly />
                <input type="text" value="/" readonly />
                <input type="text" value="(" readonly />
                <input type="text" value=")" readonly />
                <input type="text" value="-" readonly />
              </div>
            </div>
          </div>
        </section>
      </section>

      <script src="{{ url_for('static', filename='js/questions.js')}}"></script>
      <script src="{{ url_for('static', filename='js/game_logic.js')}}" type="module"></script>
  </body>
</html>
